.idea/
.gradle/
*.iml
*.ipr
*.iws
work/
/data/
logs/
.DS_Store
build/
/target/
target/
*-execution-hints.log
docs/html/
docs/build.log
/tmp/
backwards/
html_docs
.vagrant/
.class
rebel.xml

.project
.classpath
eclipse-build
.settings
/marble-contract.iml
/marble-agent/*.iml
/marble-common/*.iml
/marble-web/*.iml
/.idea
/marble-web/__ConfigTemp/
/__ConfigTemp

/marble-parent.iml
/marble-contract/marble-contract.iml
/marble-web/marble-web.iml
